/WebApplication/nbproject/private/
/modelPizze/nbproject/private/
/Applet1/nbproject/private/
/Lib1/nbproject/private/
/Lib2/nbproject/private/
/Applet1/build/
/Lib2/build/
/Lib2/dist/
/Lib1/dist/
/Lib1/build/
/Applet1/dist/
/WebApplication/build/
/WebApplication/dist/
/Applet2/nbproject/private/
/Applet2/dist/
/Applet2/build/